    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About </h2>
                <h3>'Satoru'</h3>
                <p>大丈夫、僕は最強だから。<br> 나 자신, 그리고 내 손 안의 사람들을 위해.<br> 컨텐츠 디자인을 주로 진행하고, 음악 활동을 하고 있습니다.</p><br>
                <h3>'418 and Delphi'</h2>
                <p>418 and Delphi 는 사토루의 개인 작업실입니다.<br>사토루의 모든 개인 작업이 바로 이 곳에 담겨 있고 앞으로도 채워갈 예정입니다.<br>기본 자기 만족을 위한 작업을 주로 하지만, 드물게 의뢰를 받아 작업을 하는 경우도 있습니다.</p>
            </div>
        </div>
    </section>
